[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
setuptools = "*"
Deprecated = "*"
asyncio_atexit = "*"
websockets = "*"
streamlit = "*"
openai = "*"
[dev-packages]

[requires]
python_version = "3.12"
